
<div ng-controller="UserController as ctrl">
	<table class="table" style="background: linear-gradient(grey);">
		<tr>
			<td width="70%" valign="top" style="padding-top: 10px">
				<center>
					<img src="images/register.jpg" height="250px">
				</center>

			</td>
			<td width="30%" style="padding-top: 10px">
				<h2
					style="color: grey; font-family: Monotype Corsiva; font-size: 32px">Register
					Here....</h2> <!-- {{message}} -->


				<form name="form" ng-submit="ctrl.submit()" class="form-horizontal"
					role="form">

					<div class="form-group">
						<label class="radio-inline">
							<h4>
								<input type="radio" name="role" ng-model="ctrl.user.role"
									ng-value="'Employee'" id="role">Employee
							</h4>
						</label> <label class="radio-inline">
							<h4>
								<input type="radio" name="role" ng-model="ctrl.user.role"
									ng-value="'Alumini'" id="role">Alumini
							</h4>
						</label> <label class="radio-inline">
							<h4>
								<input type="radio" name="role" ng-model="ctrl.user.role"
									ng-value="'Student'" id="role">Student
							</h4>
						</label>
					</div>
					<div class="form-group"
						ng-class="{'has-error' : form.username.$dirty && form.username.$error.required}">
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="UserName"
								ng-model="ctrl.user.username" id="username" name="username"
								required> <span
								ng-show="form.username.$dirty && form.username.$error.required"
								class="help-block">Username Is Required</span>
						</div>
					</div>


					<div class="form-group"
						ng-class="{'has-error' : form.fname.$dirty && form.fname.$error.required}">
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="First name"
								ng-model="ctrl.user.fname" id="fname" name="fname" required>
							<span ng-show="form.fname.$dirty && form.fname.$error.required"
								class="help-block">First name Is Required</span>
						</div>
					</div>

					<div class="form-group"
						ng-class="{'has-error' : form.lname.$dirty && form.lname.$error.required}">
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Last Name"
								ng-model="ctrl.user.lname" id="lname" name="lname" required>
							<span ng-show="form.lname.$dirty && form.lname.$error.required"
								class="help-block">Last Name Is Required</span>
						</div>
					</div>


					<div class="form-group"
						ng-class="{'has-error' : form.emailId.$dirty && form.emailId.$error.required}">
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Email Id"
								ng-model="ctrl.user.emailId" id="emailId" name="emailId"
								required> <span
								ng-show="form.emailId.$dirty && form.emailId.$error.required"
								class="help-block">Email Id Is Required</span>

						</div>
					</div>

					<div class="form-group"
						ng-class="{'has-error' : form.mobile.$dirty && form.mobile.$error.required}">
						<div class="col-sm-10">
							<input type="text" class="form-control"
								placeholder="Mobile number" ng-model="ctrl.user.mobile"
								id="mobile" name="mobile" required> <span
								ng-show="form.mobile.$dirty && form.mobile.$error.required"
								class="help-block">Mobile number Is Required</span>

						</div>
					</div>


					<!-- 
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Role">
    </div>
  </div>
   -->
					<div class="form-group"
						ng-class="{'has-error' : form.password.$dirty && form.password.$error.required}">
						<div class="col-sm-10">
							<input type="password" class="form-control"
								placeholder="Password" ng-model="ctrl.user.password"
								id="password" name="password" required> <span
								ng-show="form.password.$dirty && form.password.$error.required"
								class="help-block">Password Is Required</span>

						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<input type="password" class="form-control"
								placeholder="Re-Type password" ng-model="ctrl.user.conPassword">
						</div>
					</div>
					<div class="form-group"
						ng-class="{'has-error' : form.gender.$dirty && form.gender.$error.required}">
						<label class="radio-inline">
							<h4>
								<input type="radio" name="gender" ng-model="ctrl.user.gender"
									id="gender" ng-value="'Male'">Male
							</h4>
						</label> <label class="radio-inline">
							<h4>
								<input type="radio" name="gender" ng-model="ctrl.user.gender"
									id="gender" ng-value="'Female'">Female
							</h4>
						</label> <span ng-show="form.gender.$dirty && form.gender.$error.required"
							class="help-block">Gender Is Required</span>

					</div>


					<div class="col-sm-6">

						<div class="form-group">
							<div class="col-sm-6">
								<button type="submit" class="btn btn-default btn-lg">Sign
									up</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6">

						<div class="form-group">
							<div class="col-sm-6">
								<button type="submit" ng-click="ctrl.reset()"
									class="btn btn-default btn-lg">Reset</button>
							</div>
						</div>
					</div>
				</form>
			</td>
		</tr>
	</table>
</div>
<!-- 
</body>
</html> -->