  <span ng-show="IsLoggedIn=='true'">
<div ng-include src="'c_user/profile.html'"></div>
</span>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<div ng-controller="FriendController as ctrl">

<div class="container bootstrap snippet">
<!--     <div class="row">
 -->        <div class="col-lg-8">

                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>User</span></th>
                                <th class="text-center"><span>Action</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                                <tr ng-repeat="user in ctrl.users">
                                
                                   
 <td >
                                     <img src="Images/{{user}}.jpg" alt="" width="150px">
                                        <a href="#"> {{user}}</a><br>
                                        <span class="user-subhead"></span>
                                    </td>
                                    
                                    <td class="text-center">
										  <button type="button" ng-click="ctrl.send(user)" class="btn btn-primary">Add Friend</button>
										  
                                    </td>
                                   
                                    <td>
                                        <a style="text-decoration: none" ></a>
                                   
 </td>
                                        </tr>
                            </tbody>
                        </table>
                 
            </div>
                </div>
</div>


</div><!-- 
</body>
</html> -->