  <span ng-show="showProfile=='true'">
<div ng-include src="'c_user/profile.html'"></div>
</span>

  <span ng-show="isAdmin=='true'">
<div ng-include src="'c_admin/adminNavbar.html'"></div>
</span>



<div ng-controller="JobController as ctrl" class="col-md-offset-2">
		<p style="color: #0729e7;font-size:20px ">Search for the job
	<input type="text" ng-model="search_text" placeholder="Type here,.,"></p>
	<hr>
	<div ng-repeat ="job in ctrl.jobs | filter: search_text">
	
		<span class="glyphicon glyphicon-user " style="color:DarkCyan"></span>	
		<h4 style="color: #0729e7" >Job Id:- {{job.id}} &nbsp; <button type="button" ng-click="ctrl.applyForJob(job.id)" class="btn btn-primary btn-md">Apply for Job</button></h4>
		<h4 style="color: #e87e13 ">Job Tittle:- {{job.tittle}}</h4>
		<h4>Job Description:- {{job.description}}</h4>
		<hr>  
					
	</div>

	<br><br><br><br><br>
</div>
