<!-- <html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head> 
<body>-->



<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<div ng-include src="'c_admin/adminNavbar.html'"></div>


<div ng-controller="UserController as ctrl">

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
       

                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>User</span></th>
                                <th><span>Mobile</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>Email</span></th>
								 <th><span>Role</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                                <tr ng-repeat="user in ctrl.users">
                                   
 									<td>
                                        <img src="Images/{{user.username}}.jpg" alt="{{user.username}}">
                                        <a href="#">{{user.fname}} {{user.lname}}</a><br>
                                        <span class="user-subhead">{{user.role}}</span>
                                    </td>

                                    <td>{{user.mobile}}</td>
                                    
                                    <td class="text-center">
                                   
										 {{user.status}}
										  
                                    </td>
                                   
                                    <td><a href="#" style="text-decoration: none" >{{user.emailId}}</a> </td>
                                    
                                    <td ><a href="#" style="text-decoration: none" >{{user.role}}</a> </td>
                                    
 
 <td>							
 <span ng-hide="user.role=='admin'"><button type="button" ng-click="ctrl.makeAdmin(user.username)" class="btn btn-primary">Make Admin</button></span>
 </td>
                                         </tr>
                            </tbody>
                        </table>
                 
            </div>
        </div>
    </div>
</div>


</div><!-- 
</body>
</html> -->